<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings file="private.config">

    <!-- ** Make sure you update the Azure Subscription Key in the private.config file ** -->

    <!-- This comes from your Azure Speech Service subscription -->    
    <!-- https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview#try-the-speech-service-for-free -->    
    <add key="AzureRegion" value="westus2" />
       
    
    <!-- Determines the default voice and language to use  -->
    <!-- https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-support -->
    <add key="DefaultVoiceName" value="en-US-AriaNeural" />    
    <add key="DefaultVoiceLanguage" value="en-US" />
    
    <!-- Set to True/False depending if you want a radio effect to be added to the voice -->
    <add key="AddRadioEffect" value="True" />
    
    <!-- Set to True/False depending if you want synthesize audio files to be cached on disk to avoid additional calls -->
    <add key="CacheEnabled" value="True" />
    
    <!-- (Optional) Leave blank if you want to use Voice Attack's default sound folder, otherwise provide a directory you want used -->
    <add key="CacheDirectory" value="" />
    
    <!-- Determines when a cached audio file should get removed from disk.  It's the duration (in days) since it was last used/accessed. -->
    <add key="CacheDurationInDays" value="30" />
    
    <!-- Set to True/False if you want to see detailed messages in the Voice Attach message window -->
    <add key="DebugMode" value="False" />
    
  </appSettings>
</configuration>