<appSettings>
  <!-- This comes from your Azure Speech Service subscription and should be kept private -->
  <!-- https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/overview#try-the-speech-service-for-free -->
  <add key="AzureSubscriptionKey" value="PUT VALUE HERE" />
</appSettings>